* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/*NAVBAR START*/
nav {
  display: flex;
  background-color: rgb(30, 70, 106);
  justify-content: space-around;
  height: 45px;
  align-items: center;
  color: whitesmoke;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
}

nav .logo {
  font-family: "Poppins", cursive;
  font-style: italic;
  font-size: 1.4rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
}

nav ul li a:hover {
  color: aqua;
}

.menu-toggle input {
  position: absolute;
  top: -5px;
  left: -3px;
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 3px;
  transition: all 0.7s;
}
/*NAVBAR END*/

/* MAIN START*/
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f242d;
  color: white;
  margin: 0 200px;
}

.image {
  align-items: center;
  margin: auto;
}

img {
  height: auto;
  max-width: 350px;
  align-items: center;
}

h1 {
  align-items: center;
  color: aqua;
  padding-left: 4rem;
}

h2 {
  color: aqua;
}
.tentang {
  padding: 1rem;
  margin: 0 200px;
}

.profilDiri {
  align-items: center;
  padding: 1rem;
  margin: 0 200px;
}

.profilDiri p {
  text-align: center;
}
.tentang h2 {
  color: aqua;
}

.tentang p {
  text-align: justify;
}

.motto {
  padding: 1rem;
  background-color: #323946;
  color: white;
  height: 200px;
  margin: 0 200px;
}

.motto p {
  text-align: center;
}

.hobi {
  display: flex;
  justify-content: space-between;
  background-color: #1f242d;
  flex-direction: row;
  height: 300px;
  margin: 0 200px;
}

.hobi img {
  max-height: 200px;
  width: auto;
  border-radius: 10px;
}

.skill {
  background-color: #323946;
  height: 200px;
  color: white;
  margin: 0 200px;
  display: flex;
}

.skill img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  justify-content: space-evenly;
  padding: 1rem;
}

.skill img:hover {
  transform: rotateX(20%);
}

.vidio {
  height: 380px;
  text-align: center;
  background-color: #1f242d;
  margin: 0 200px;
}

.vidio h2 {
  text-align: start;
}

ifame {
  align-items: center;
}
.lesson {
  height: 200px;
  text-align: center;
  background-color: #323946;
  margin: 0 200px;
  color: white;
}

.lesson h2 {
  text-align: start;
}

.maps {
  text-align: center;
  background-color: #1f242d;
  margin: 0 200px;
}

/* MAIN END*/

/*FOOTER START*/
.box {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
footer {
  text-align: center;
  background-color: #1f242d;
  color: white;
}

.box span {
  font-style: italic;
  font-weight: bold;
  color: aqua;
}
/*FOOTER END*/

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 17px;
  justify-content: space-between;
  position: relative;
}

/*x on hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: left center;
}

.menu-toggle span:nth-child(4) {
  transform-origin: left center;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}
/* invis span ke 2 / child ke 3 */
.menu-toggle input:checked ~ span:nth-child(3) {
  width: 0%;
  opacity: 0;
  transition: 0.1s;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  main {
    flex-direction: column-reverse;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(36, 52, 102);
    /* transform: translateX(100%); */
    transition: all 0.72s;
    opacity: 0;
    z-index: 2;
  }
  nav ul.menushow {
    opacity: 0.5;
    /* transform: translateX(0); */
  }
}
