* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: rgb(64, 79, 122);
  height: 50px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

nav .logo {
  color: aqua;
  font-family: "Alex Brush", cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}
/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  transition: all 0.5;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(234, 192, 255);
  border-radius: 3px;
  transition: all 0.5s;
}

/*x on hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(41deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-40deg) translate(-1px, 0);
}
/* invis span ke 2 / child ke 3 */
.menu-toggle input:checked ~ span:nth-child(3) {
  width: 0%;
  opacity: 0;
  transition: 0.1s;
}

@media screen and (max-width: 768px) {
  /* Adjust margin in main */
  main {
    margin: 0 20px;
  }
}

@media screen and (max-width: 576px) {
  /* Adjust margin in main */
  main {
    margin: 0 10px;
  }
  /* Make navigation menu responsive */
  nav ul {
    position: absolute;
    right: 0;
    top: 47px;
    width: 70%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.72s;
    z-index: 1;
    opacity: 0;
    transform: translateX(100%);
  }
  nav ul.menushow {
    background-color: rgb(36, 52, 102);
    opacity: 0.8;
  }
  .menu-toggle {
    display: flex;
  }
}
